@font-face {
  font-family: "Mono";
  src: url("Fonts/IBMPlexMono-Regular.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}

  body {
      margin: 0;
    }

#viewport {
  width: 100vw;
  height: 450px;
  overflow-x: auto;   /* allow horizontal scroll */
  overflow-y: hidden;
  position: relative;
}

        #container {
        position: relative;
        display: inline-block;
        }

.justify{
    text-align: justify;
    width: 95%;
    height: 0;
}

.justify::after{
    content: "";
    display: inline-block;
    width: 100%;
}

h1{
    font-family: "Mono", serif;
    font-size: 12px;
    height: auto;
    padding-left: 2.5%;
}

text{
    font-family: "Mono", serif;
    font-size: 12px;
    height: auto;
    padding-left: 2.5%;
}

#title {
    padding-top: 5px;
    display: flex;
    padding-right: 2.5%;
    justify-content:space-between;
    margin-bottom: 40px;
}

.wrap-box{
    display: flex; 
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
    position: sticky;
}

button{
    font-family: "Mono", serif;
    padding:5px 8px;
    font-size:12px;
    background:white;
    border-radius: 40px;
    border: 1px solid black;
    cursor:pointer;
    width: auto;
}

#save{
    font-family: "Mono", serif;
    padding:5px 8px;
    font-size:12px;
    background:white;
    border-radius: 40px;
    border: 1px solid black;
    cursor:pointer;
    width: auto;
}

#infield{
    font-family: "Mono", serif;
    padding:5px 8px;
    font-size:12px;
    background:white;
    border-radius: 40px;
    border: 0px 0px 1px 0px solid black;
    cursor:pointer;
    width: auto;
    margin: 5px 0px;
}

video{
    width:96%;
    max-width:500px;
    border-radius:10px;
    border: 1px solid black;
    margin-left: 2%;
}

#streetSVG {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  pointer-events: none;
  height: 400px;
}

#drawCanvas {
  position: absolute;
  left: 0;
  z-index: 999;
  top: 0;
  touch-action: none;
}

p {
    font-family: "Mono", serif;
    font-size: 13px;
    margin: 0;
    height: auto;
      vertical-align: baseline;
}

#scrollControls {
    display: flex;
    justify-content: center;
}

#scrollLeft {
    width: 20px;
    padding-right: 5px;
}

#scrollRight {
    width: 20px;
    padding-left: 5px;
}

#footer{
    width: 95%;
    height: 40px;
    display: flex;
    align-items: flex-end; 
    justify-content:space-between;
    position: fixed;
    bottom: 1%;
    vertical-align: baseline;
    padding-left: 2.5%;
}

#next {
 margin: 0;
 width: 20px;
 height: 20px;
 border-radius: 0;
 display: block;
} 
